body {
background-image: url(../images/OAYT5G0.jpg);
/* box-sizing: border-box; */
justify-content: flex-start;
min-height: 100vh;
background-size: cover;
background-position: bottom left;
padding: 0 2vw;
}
/* .flex-row {
  display: flex;
  flex-flow: row wrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
} */
/* .flex-align-center{
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
} */
header {
  margin-top: 1vh;
  /* flex: 1 1 auto; */
  background-image: url(../images/kisspng-scroll-ornament-clip-art-scroll-banner-5b153aef847421.6354327415281179995425.png);
  /* background-attachment: fixed; */
  background-size: 100% 110%;
  min-height: 12vh;
  max-height: 20vh;
  /* border-radius: 10vh; */
  min-width: 80vw;
  background-repeat: no-repeat;
  background-position: center;
}
body header p {
  /* flex: 1 1 auto; */
  font-size: 4vw;
  font-family: 'Times New Roman', Times, serif;
  /* font-variant: small-caps; */
  font-weight: bold;
  color: rgb(190, 0, 0);
  text-shadow: 1px 1px 2px rgb(16, 4, 31);
  /* max-width: 70%; */
}
div.shelf {
  /* flex: 1 1 auto; */
  margin-top: 2vh;
  min-height: 70vh;
  /* min-width: 80vw; */
  border: rgba(0, 0, 0, 0.301) solid 1px;
  border-radius: 1.5vh;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.171);
  /* filter: blur(11px); */
  background-color: rgba(255, 255, 255, 0.144);
  padding: 1vmax;
  /* margin-right:  -4px; */
  /* justify-content: space-around; */
}
.book-container {
  padding-bottom: 15px;
}
.book {
  /* flex: 1 1 35%; */
  /* max-height: 15rem; */
  /* height: auto; */
  /* min-width: 15rem; */
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 1.5vh;
  padding: 0.32vmax;
  background-color: rgba(255, 255, 255, 0.411);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.507);
  /* margin: 0 1.5vmax 1.9vmax 0; */
  transition: all 0.5s ease-out;
}

.shelf .book:hover {
  transform: scale(1.04);
}
.shelf .book>div {
  align-items: center;
  font-weight: bold;
  /* font-size: 2.2vmax; */
  padding: 1vh 0.5vmin;
  cursor: pointer;
  /* text-shadow: 1px -1px 0px rgb(107, 16, 16); */
}
.book p {
  margin: 0;
}
.shelf .book>.title {
  flex: 1 1 35%;
  box-sizing: border-box;
  /* padding-top: 1rem; */
  background-color:rgba(222, 184, 135, 0.5) ;
  border-radius: 1.5vh 1.5vh 0px 0px;
  min-height: 4.5em;
}
.shelf .book>.author {
  flex: 1 1 20%;
  background-color:rgba(216, 170, 111, 0.5) ;
  min-height: 2.5em;
  /* background-color: coral; */
}
.shelf .book>.pages {
  flex: 1 1 15%;
  background-color:rgba(211, 159, 92, 0.5) ;
  /* background-color: chocolate; */
}
.shelf .book>.status {
  flex: 1 1 15%;
  background-color:rgba(206, 147, 70, 0.5) ;
  /* background-color:darkorange ; */
}
.shelf .book>.delete {
  flex: 1 1 15%;
  background-color:rgba(255, 0, 0, 0.438);
  border-radius: 0px 0px 1.5vh 1.5vh;
}
.shelf .book>.title:hover {
  background-color:rgb(221, 177, 120) ;
}
.shelf .book>.author:hover {
  background-color:rgb(216, 170, 111) ;
}
.shelf .book>.pages:hover {
  background-color:rgb(211, 159, 92) ;
}
.shelf .book>.status:hover {
  background-color:rgb(206, 147, 70) ;
}
.shelf .book>.delete:hover {
  background-color:rgb(255, 0, 0);
}
.btn {
  font: 1rem 'Fira Sans', sans-serif;
  padding: .5rem;
  background: rgba(138, 208, 240, 0.84);
  border: none;
  border-radius: 0.5vmax;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 2.2vmax;
}
.btn:hover {
  transform: scale(1.04);
}
form fieldset label {
  display: inline-block;
  width: 18vw;
}
.back-blur {
  overflow: hidden;
  visibility: hidden;
  z-index: -1;
  max-height: 0;
  max-width: 0;  
}
form {
  font-size: 2.2vmax;
  max-height: 0;
  max-width: 0;
  transition: all 1s ease-out;
  /* margin-top: 20px; */
  /* min-height: 40vh; */
  overflow: hidden;
  /* position: fixed;
  transform: translate(-50%,-50%); */
  visibility: hidden;
  z-index: -1;
}
input {
  font-size: 2.1vmax;
}
body.showform .back-blur {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(220, 220, 220, 0.747);
  z-index: 50;
  visibility: visible;
  transition: all 0.05s ease-out;
}
body.showform div.back-blur form {
  border: 1px solid rgba(0, 0, 0, 0.644);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.418);
  border-radius: 1.5vh;
  background-color: rgba(240, 248, 255, 0.548);
  padding: 8px;
  max-height: 90%;
  max-width: 90%;
  z-index: 99;
  visibility: visible;
  transition: all 1s ease-out;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.pad {
 padding: 3px 0px;
 margin-left: 3px;
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.836);
  border-radius: 0.5vmax;
}
form>fieldset>div {
  min-height: 6vh;
  /* margin: 3vh 0; */
}
input {
  margin: .5rem 0;
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.shadow {
  box-shadow: 1px 1px 5px 1px rgba(56, 173, 209, 0.788);
}